
.container-projets {
  background-color: transparent;
  position: sticky;
  padding: 20px;
}

.projets-title > h1{
  font-family: 'Homemade Apple', cursive;
  margin-bottom: 91px;
}

.projets-text{
  width: 600px;
  text-align: justify;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 60px;
}

.content-projets {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  margin-bottom: 40px;
}

.image-projet {
  display: flex;
  width: 210px;
  border-radius: 5px;
  margin-top: 50px;
  height: auto;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin-bottom: 70px;
}

.image-projet:hover {
  filter: brightness(0.8);
}

.btn--inline{
  background-color: transparent;
  border-color: black!important;
  color: black;
  width: 372px;
  font-weight: bold;
  font-size: 18px;
  margin: 56px;
  font-family: 'Poppins', sans-serif;
  height: 45px;
  font-weight: 600 !important;
}

.btn--inline:hover {
  background: #c58b32;
  color: white !important;
  font-size: bold !important;
}

.image-transition-projets {
  height: 400px;
  width: 800px;
}

.title-transition {
  width:700px
}

.title-transition > p {
  font-size: 2.5rem;
  position: relative;
  z-index: 1;
  bottom: -250px;
  left: 351px;
  font-weight: 300;
  font-family: 'Homemade Apple', cursive;

}
.transition {
  background: #efeae5;
}

@media (min-width: 992px) and (max-width: 1286px) {

}

@media (min-device-width: 480px) and (max-width: 1024px) {
 .projets-title > h1 {
   margin-right: 40px;
 }
 .content-projets {
    display: block;
    margin-left: 20px;
 }
 .projets-text {
    width: 600px;
}
 .image-projet {
   margin-left: 200px;
   margin-bottom: 100px;
 }
 .title-transition > p {
    font-size: 25px;
    left: 150px;
    width: 390px;
}
.image-transition-projets {
    height: 400px;
    width: 745px;
}


}


@media (max-device-width: 480px){

 .content-projets {
   display: block;
 }
  .projets-text {
  width: 550px;
  text-align: justify;
}
 .image-projet {
  margin-bottom: 90px;
  margin-left: 180px;
}

  .title-transition {
    width: 500px;
  }
  .title-transition > p {
    font-size: calc(1.375rem + 1.5vw);
    left: 50px;
  }
}
