
.container-resonance {
  background-color: #ffff;
  padding: 20px;
}
.video_reso{
  width: 500px;
  height: 100%;
  filter: brightness(1.6);
  border-radius: 15px;
  display: inline-flex;
  border-radius: 15px;
}

.reso-gif {
  width: 550px;
  height: 356px;
  margin-top: 150px;
  filter: brightness(1.05);
}


.resonance-text{
  width: 700px;
  padding: 40px;
  background-color: #f8f4f1;
  text-align: justify;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  display: inline-block;
}


.widgets-outils-reso {
  display: inline-flex;
}
.widgets-outils-reso p {
  border: solid;
  width: 150px;
  text-align: center;
  background-color: #335C67;
  border-width: thin;
  color: white;
  border-color: black;
  font-weight: 600;
  height: 27Px;
  margin-right: 8px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.content-resonance {
  display: flex;
  margin-top: 91px;
  justify-content: space-between;

}

.image-resonance img {
  display: flex;
  width: 600px;
  border-radius: 5px;
  margin-top: 105px;
  height: auto;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}


.resonance-title  h1 {
  font-weight: 300;
  color: black;
  font-size: 50px;
  background: linear-gradient(
180deg
, transparent 50%, #ecca97 0);
  width: max-content;
  display: initial;
}

.resonance-title{
  margin-top: 91px;
}


.btn--inline-reso{
  background-color: transparent;
  border-color: black!important;
  color: black;
  width: 372px;
  font-weight: bold;
  font-size: 18px;
  margin: 56px;
  font-family: 'Poppins', sans-serif;
  height: 45px;
  font-weight: 600 !important;
  margin-left: 122px;
}

.btn--inline-reso:hover {
  background: #335C67;
  color: white !important;
  font-size: bold !important;
}

@media (min-width: 992px) and (max-width: 1286px) {

}

@media (min-width: 600px) and (max-width: 1024px) {


  .content-resonance {
    display: block;
  }

  .image-resonance > img {
    width: 469px;
    margin-left: 100px;
  }

  .resonance-text {
    width: 600px;
    margin-left: 0px;
  }
  .widgets-outils-reso {
    display: block;
    margin-left: 150px;
}
  .btn--inline-reso {
    width: 300px;
    margin-left: 90px;
  }
}



@media (max-device-width: 480px){


  .content-resonance {
    display: block;
  }
  .image-resonance > img {
      display: block;
      width: 554px;
      margin-left: 20px;
  }
  .resonance-text {
      width:550px;
      display: block;
      margin-left: 20px;
  }
  .widgets-outils-reso {
      display: block;
      margin-left: 150px;
  }
  .btn--inline-reso {
      width: 300px;
      margin-left: 80px;
}
}
