.cards-item-pics {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 8px;
  max-width: 100%;
}

.container-profile {
  padding: 20px;
  background-color: #e7e0ca;
  display: block;
  align-items: center;
  justify-content: center;
}

.profile-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e7e0ca;
}


.profile-title >h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-family: "poppins";
  font-weight: 900;
  font-size: 40px;
}

.charte-content {
  width: 600px;
  text-align: justify;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}

.charte-content h2 {
  margin-bottom: 23px;
}
.charte-content p {
  font-weight: 400;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 60px;
  margin: revert;
}

.profile-content-don {
  width: 600px;
  text-align: justify;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  margin-left: 100px;
}

.image-manifeste {
  width: 438px;
  height: 423px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin-top: 170px;
  margin-bottom: 70px;
  margin-left: 100px;
}

.image-manifeste:hover {
  opacity: 0.5;
}


.image-transition {
  height: 600px;
  width: 1174px;
  margin-top: 90px;
}

.transition-profile {
  background: #efeae5;
  margin-bottom: 200px;
  margin-top: 100px;
}

@media (min-width: 1024px) and (max-width: 1286px){

}
@media (min-device-width: 480px) and (max-width: 1024px){



.charte-content {
  margin: 30px;
}

  .profile-grid {
    display: block;
  }

.image-manifeste {
    margin-left: -18px;
}


  .profile-title >h1 {

      margin-right: 40px;
  }

  .image-profile-home {
      width: 300px;
      height: auto;
      margin-right: 0px;
      margin-left: 0px;
  }
  .transition-profile {
    margin-bottom: 0px;
  }

  .image-transition {
    height: 226px;
    width: 346px;
    margin-top: 40px;
    object-fit: fill;
    margin-bottom: 100px;
}
}

@media (max-device-width: 480px){
  .charte-content {
    margin: 20px;
    width: auto;
  }

  .profile-grid {
    display: block;
  }

.image-manifeste {
    margin-top: 0px;
    margin-left:0px;
    width: 341px;;
}
  .image-profile-home {
    display: flex;
    width: 341px;
    margin-left: 0px;
  }


}
