
.cards-item-pics {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 8px;
  max-width: 100%;
}

.container-profile {
  padding: 20px;
  background-color: #e7e0ca;
  display: block;
  align-items: center;
  justify-content: center;
}

.contenus-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e7e0ca;
  align-items: center;
}


.profile-title >h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-family: "poppins";
  font-weight: 900;
  font-size: 40px;
}

.contenus-content {
  width: 600px;
  text-align: justify;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  text-align: center;
}

.contenus-content h2 {
  margin-bottom: 23px;
}
.contenus-content p {
  font-weight: 400;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 60px;
  margin: revert;
  text-align: justify;
}

.profile-content-don {
  width: 600px;
  text-align: justify;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  margin-left: 100px;
  text-align: center;
}

.profile-content-don p {
  font-weight: 400;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 60px;
  margin: revert;
  text-align: justify;
}

.image-profile-consent {
  width: 438px;
  height: 303px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin-top: 45px;
  margin-bottom: 70px;
  margin-left: 100px;
  background-color: #fff5d9;
}

.image-profile-glossaire {
  width: 438px;
  height: 303px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin-top: 58px;
  margin-bottom: 70px;
}

.image-transition {
  height: 600px;
  width: 1174px;
  margin-top: 90px;
}

.transition-profile {
  background: #efeae5;
  margin-bottom: 200px;
  margin-top: 100px;
}
.social-media-insta {
    display: flex;
    margin-top: 35px;
}
@media (min-width: 1024px) and (max-width: 1286px){

}
@media (min-device-width: 480px) and (max-width: 1024px){


  .contenus-content {
    width: 620px;
    text-align: justify;
    margin-left: 0px;
    margin-right: 70px;
    margin-left: 20px;
}
 .profile-content-don {
    width: 620px;
    text-align: justify;
    margin-left: 0px;
    margin-right: 70px;
    margin-left: 20px;
}


  .contenus-title >h1 {

      margin-right: 40px;
  }

  .image-profile-glossaire{
      width: 300px;
      height: auto;
      margin-right: 0px;
      margin-left: 0px;
  }

  .image-profile-consent{
      width: 300px;
      height: auto;
      margin-right: 0px;
      margin-left: 0px;
  }
  .transition-profile {
    margin-bottom: 0px;
  }

  .image-transition {
    height: 226px;
    width: 346px;
    margin-top: 40px;
    object-fit: fill;
    margin-bottom: 100px;
}
}

@media (max-device-width: 480px){
  .contenus-content {
    margin: 20px;
    width: 560px;
  }
  .profile-content-don {
    margin: 20px;
    width: 560px;
  }

  .contenus-grid {
    display: block;
  }


  .image-profile-glossaire{
    display: flex;
    margin-left: 80px;
  }

   .image-profile-consent{
    display: flex;
    margin-left: 80px;
  }

  .transition-profile {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .image-transition {
    height: 485px;
    width: 600px;
    margin-top: 90px;
    margin-bottom: 90px;
}

}
