.container-contact {
  padding: 20px;
  background-color: #e7e0ca;
  display: block;
  align-items: center;
  justify-content: center;
}

.contact-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e7e0ca;
}


.contact-title >h1 {
  margin-top: 150px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-family: "poppins";
  font-weight: 900;
  font-size: 40px;
}

.contact-content {
  width: 600px;
  text-align: center;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  display: block;
}

.contact-content p {
  font-weight: 400;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 60px;
  margin: revert;
}

.contact-content h3 {
  text-align: center;
}
.contact-content h5 {
  text-align: center;
  line-height: 2rem;
}
.contact-content h4{
  text-align: justify;
  line-height: 2rem;
}
 a {
  color: black!important;
  text-decoration: none !important;
}
.social-media-contact {
  display: inline-flex;
  margin-bottom: 40px;
}

.social-logo-contact {
  align-items: center;
  vertical-align: middle;
  height: 48px;
  object-fit: none;
  align-items: center;
  justify-content: space-around;
  background: #72939b;
  width: 48px;
  border-radius: 23px;
  margin: 15px;
}

a .social-logo-contact:hover  {
  background: #d7d2c2;
}



@media (min-device-width: 480px) and (max-width: 1024px){

  .container-contact{
    height: 100vh;
  }

  .contact-content {
    width: 620px;
    text-align: center;
    margin-left: 0px;
    margin-right: 70px;
    margin-left: 20px;
}

}


@media (max-device-width: 480px){
  .contact-content {
    margin: 20px;
    width: auto;
  }

  .App {
    width: auto;
  }
  .contact-grid {
    display: block;
  }

}

