

.banner-container img {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  scroll-behavior: smooth;
}

.banner-container h1 {
  font-size: 40px;
  color: white;
}

.banner-container2 img {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  position: sticky;
  scroll-behavior: smooth;
  filter: brightness(0.9);
}





