.events-container {
  background-color: #efeae5;
}

.content-metta {
  text-align: justify;
  width: 600px;
  text-align: justify;
  display: inline-block;
}

.prog-name {
  font-family: 'Lora', serif;
  font-size: 70px;
  margin-top: -480px;
  background: linear-gradient(
180deg
, transparent 55%, #335c679e 0);
  margin-left: 488px;
  font-weight: bolder;
  letter-spacing: 1.4px;
}

.star {
  align-items: center;
  vertical-align: middle;
  width: 19px;
  height: 21px;
  object-fit: cover;
}

.btn--events {
  background-color: transparent;
  border-color: black!important;
  color: black;
  width: 283px;
  font-size: 18px;
  margin: 56px;
  font-family: 'Poppins', sans-serif;
  height: 45px;
  font-weight: 500 !important;
  border-radius:5px;
  border-width: 1px;
  border-style: outset;
  cursor: pointer;
}
.btn--events:hover {
  background: #335C67;
  color: white !important;
}

.banner-container3 {
  height: 100vh;
}

.header-prog {
  color: #FFF;
  margin-top: 50px !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  background-size: 10px 40px !important;
  position: relative;
}

.cards-content-events {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.programme-container {
  position: sticky;
  scroll-behavior: smooth;
  background-color: #efeae5;
}

.photo-metta{
  display: block;
  width: 463px;
}

.image-metta {
  object-fit: cover;
  border-radius: 6%;
  height: 291px;
  width: 466Px;
  margin-bottom: 315px;
}

.image-metta2{
  width: 397px;
  object-fit: cover;
  height: 541px;
  border-radius: 6%;
  margin: 100px;
}

.apropos-title2 {
  margin: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 50px;
  font-size: 46px;
  margin-bottom: 72px;
  background-color: #efeae5;
  position: sticky;
  scroll-behavior: smooth;
  padding: 40px;
}

.social-logo-events {
  align-items: center;
  vertical-align: middle;
  height: 48px;
  object-fit: none;
  align-items: center;
  justify-content: space-around;
  background: #335C67;
  width: 48px;
  border-radius: 23px;
  margin-left: 185px;
  margin-right: -154px;
}

a .social-logo-events:hover  {
  background: #94b5c0;
}


@media (min-width: 1024px) and (max-width: 1286px) {
  .cards-content-events {
    display: block
  }
  .photo-metta {
    margin-left: 350px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .cards-content-events {
    display: block
  }
  .banner-container3 img {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
}
  .banner-container3 {
    height: auto;
}
  .photo-metta {
    margin-left: 134px;
    margin-bottom: 50px;
    width: 500px;
  }

  .image-metta2 {
    width: 500px;
    object-fit: cover;
    height: auto;
    border-radius: 6%;
    margin-top: -251Px;
}

  .apropos-title2 {
    font-size: 43px
  }
}

@media (max-width: 600px){

  .image-events {
    width: 100%;
    height: auto;
    object-fit: contain;
    }

  .image-banner-events img {
    width: 100vh;
    height: auto;
  }

  .banner-container3 {
    height: auto;
    }

  .image-metta2 {
    margin-left: -14px;
    margin-top: -280px;
  }

  .content-metta {
    width: 320px;
    text-align: justify;
    margin-left: 7px;
  }

  .cards-content-events {
    width: 360px;
    display: block;
    margin:5px;
  }

  .btn--events {
    margin: 37px;
    margin-left: 17px;
  }

  .prog-name {
    font-size: 35px;
    margin-top: -150px;
    background: linear-gradient(
180deg
 , transparent 55%, #335c679e 0);
    margin-left: 80px;
  }

  .photo-metta {
    width: 352px;
    margin-bottom: 30px;
    margin-left: 20px;
  }


  .btn .btn--outline {
    margin-bottom: 20px;

  }
}

