.text-blog {
  display: block;
  margin: 40px 200px 40px 200px;
  text-align: justify;
  padding-right: 99px;
  line-height: 1.75;
  margin-top: 166px;

}
.article-name {
  font-family: 'Lora', serif;
  font-size: 60px;
  margin-top: -332px;
  background: linear-gradient(
180deg
 , transparent 55%, #335c679e 0);
  margin-left: 231px;
  font-weight: bolder;
}

.header-article {
  color: #FFF;
  margin-top: 50px !important;
  width: fit-content !important;
  background-size: 10px 40px !important;
  position: relative;
}

.banner-container-article img {
  width: 100%;
  display: flex;
  align-items: center;
  height: 350px;
}

.image-banner-article {
  height: 450px;
}

.navigation .row-navigation-light {
  outline-color: #eaeaea;
  background-color: #f7f7f7;
  display: flex;
}

.main-container .row-container {
    position: relative;
    clear: both;
    border: 0;
}

.row-navigation {
  outline-width: 1px;
  outline-style: solid;
  background-color: #f7f7f7;
  outline-color: #eaeaea;
}

.container .row-container {
  position: relative;
  clear: both;
  border: 0;
}

.page-prev {
  text-align: center;
}

.page-next {
  text-align: center;
}

.navigation {
  outline-width: 1px;
  outline-style: solid;
  padding: 27px 36px 27px 36px;
}

.btn-link {
  text-decoration: none !important;
  color: #335C67 !important;
  font-weight: 600 !important;
}

.btn-link {
  display: inline-block;
  font-size: 15px;
  padding: 13px 31px 13px 31px !important;
  font-style: normal !important;
  text-align: center;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  background-image: none;
  border-style: none;
  border-radius: 2px;
  outline: none;
  white-space: pre-wrap;
  -webkit-text-stroke: 0px;
  text-decoration: none !important;
  }

.container .row {
    width: 100%;
    table-layout: fixed;
}
.style-light {
    color: #1b1d1f;
}

.pagination, .navigation {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    padding-left: 0;
    margin: 0;
    border-radius: 2px;
    height: 79px;
}


.navigation > li {
    display: table-cell;
}

.fa {
  padding: 5px;
}

