
  .btn {
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

.btn--primary {
  background-color: transparent;
  border-color: black !important;
  color: black;
  width: 372px;
  font-weight: bold;
  font-size: 18px;
  margin: 56px;
  font-family: 'Poppins', sans-serif;
}

.btn--outline {
background-color: transparent;
border-color: black!important;
color: black;
width: 372px;
font-weight: bold;
font-size: 18px;
margin: 56px;
font-family: 'Poppins', sans-serif;
}

.btn--outline:hover {
  background: #335C67;
  color: white !important;
}


.btn-medium {
  font-size: 20px;
  padding: 8px 20px;

}

.btn-large {
  font-size: 20px;
  width: 150px;
}


