
@media (min-width: 600px) and (max-width: 1148px) {
.container-contact-form {
  width: 100% !important;
  display: block;
  margin-left: 400px;
}


form {
    margin-left: -160px !important;
    width: 500px;
    margin-bottom: -24px;
  }

 .input-prénom {
    width: 250px !important;
}
  .input-nom {
    width: 250px !important;
}
  .input-container input {
    width: 500px !important;
  }

  .nom_complet {
    display: flex;
    justify-content: space-between;
    width: 500px !important;
  }

  textarea {
    width: 500px !important;
  }

  .contact-form {
        margin-left: 135px;
  }

}


@media (max-width: 600px){
  .container-contact-form {
    width: 100%;
    align-items: center;
    display: block;
    margin: 24px;
    position: left;
    margin-left: 0;
    }
  form {
    margin-left: -191px !important;
    width: 300px;
    margin-bottom: -24px;
  }

  .input-prénom {
    width: 140px !important;
}
  .input-nom {
    width: 140px !important;
}
  .input-container input {
    width: 300px !important;
  }

  .nom_complet {
    display: flex;
    justify-content: space-between;
    width: 300px !important;
  }

  textarea {
    width: 300px !important;
  }
}





.container-contact-form {
  max-width: 1248px;
  margin-left: 151px;
  margin-right: calc(-4% / 2 );
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  position: relative;
  z-index: 10;
  display: block;
  margin-left: 203px;
}
.input-container {
  margin-right: 340px;
}

input {
  width: 1000px;
  border-radius: 5px;
  border: none;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  text-indent: 13px;
}
input:focus {
    outline: none !important;
}

.envoyer {
  background-color: whitesmoke;
  border-color: black !important;
  margin-bottom: 66px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: .5pt;
  font-size: 1rem;

}
.envoyer:hover {
   background: #335C67;
   color: white;

}

.nom_complet {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.container-prenom {
  width: 495px;
}



.prénom {
  display: flex;
  font-size: .813em;
  letter-spacing: .5pt;
  white-space: nowrap;
  color:black;
  font-family: 'Poppins', sans-serif;
}

.nom {
  display: flex;
  font-size: .813em;
  letter-spacing: .5pt;
  white-space: nowrap;
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-left: 6px;
}

.input-prénom {
  width: 490px;
}
.input-nom {
  width: 495px;
  margin-left: 5px;
}


textarea {
  height: 13em;
  width: 1000px;
  border-radius: 5px;
  text-indent: 13px;
}
textarea:focus {
  outline: none !important;
}

.label-message {
  display: inline-block;
  line-height: 1.3;
  clear: both;
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-top: 34px;

}
.contact p {
  color: black;
  text-align: initial;
  vertical-align: inherit;
  display: flex;
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.entete {
  height: 100px;
  background-color: #335C67;
}

.contact {
  background-color: #efeae5;
  align-items: center;
}


div[role='alert'] {
  color: goldenrod;
  margin-top: 1em;
  font-family: 'Poppins', sans-serif;
}

.message-chars-left {
  width: 600px;
  margin: auto;
  text-align: left;
}

.status-message {
  opacity: 0;
  align-items: center;
  margin-left: 150px;
  margin-bottom: 150px;
  background-color: white;
}

.success {
  opacity: 1;
  color: green;
}
.failure {
  opacity: 1;
  color: red;
}

.title-contact {
  color: black;
  font-size: 37px;
  font-family: 'Poppins', sans-serif;
  padding: 33px;
  font-weight: bold;
  margin-right: 138Px;
}

#input-message {
  border: none;
}
