.banner-container3 img {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
}

.image-banner-content {
  height: 100vh;
}

.content-blog-posts {
  display: inline-block;
  text-align: center;
  justify-content: flex-start;
  padding: 35px;
}

.blog-cards-content {
  padding: 20px;
}

.title-Articles > h1 {
  margin: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 40px !important;
  font-size: 46px;
}

 .image-blog {
  height: 339Px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}



.content-ressources h5 {
  margin-top: 150px;
}


.image-blog:hover {
  opacity:0.5;
}


.title-allposts {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 24Px;
  margin: 5px;
  list-style: none;
  width: 500px;
  margin-left: 480px;
  padding: 28px;
}

.card-blog {
  background: transparent;
  width: 600px;
  display: block;
  align-items: center;
  border-radius: 15px;
}

.posts {
  display: inline-block;
  width: 615px;
}

.card-blog h1 {
  font-size: 37px;
  margin-bottom: 65px;
}

.image-profile-coaching {
  display: flex;
  width: 543px;
  border-radius: 5px;
  margin-top: 50px;
  height: auto;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}


blockquote {
  border-left: solid;
  margin: 1 0 1rem;
  padding: 0px 0px 0px 22px;
  border-color: #335C67;
}

blockquote p {
  margin-top: 15px;
}

.content-ressources-free {
  background-color: #ffff;
  display: block;
  width: 100%;
  height: 620px;
  align-items: center;
  justify-content: space-evenly;
}





@media (max-width: 600px){

  .cards-content {
    margin-top: 40px;
}
  .content-blog-posts {
    display: inline-flex;
  }
  .title-allposts {
    width: 400px;
    margin-left: -29px;
  }
  .image-banner-content img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .container-cards-blog {
      display: inline-block;
  }
  .image-blog {
    height: 424Px;
    width: 305px;
}
  .card-blog {
    background: transparent;
    width: 400px;
    display: block;
    align-items: center;
    border-radius: 15px;
    padding: 0px;
    margin-left: -20px;
  }

  .posts {
    display: inline-block;
    width: 400px;
  }
  .card-blog h1 {
    margin-right: 115px;
    font-size: 30px;
  }
  .card-blog hr {
    margin-right: 97px;
  }
  .article-name {
    font-family: 'Lora', serif;
    font-size: 35px !important;
  }

  .header-article h1 {
    font-size: 35px !important;
  }
  .image-banner-content {
    height: auto;
}

  }

@media (min-width: 600px) and (max-width: 1024px) {
  .content-blog-posts {
    display: inline-flex;
  }

  .image-banner-content {
    height: auto;
}
  .banner-container3 img {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
}
  .title-allposts {
    margin-left: 150px;
  }
  .card-blog {
    margin-left: -10px;
  }

}

