.events-container {
  background-color: #efeae5;;
}

.content-metta {
  text-align: justify;
  width: 545px;
  align-items: center;
  display: inline-block;
}

.title-metta {
  margin: 35px;
}

.apropos-title2 {
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 172px;
    font-size: 46px;
}
@media (max-width: 600px){

  .image-banner img {
    width: 100%;
    height: 183px;
    object-fit: contain;
  }

.apropos-title2 {
    margin-top: 40px;
  }
  .content-metta {
    width: 337px;
  }

  .btn .btn--outline {
    margin-bottom: 20px;
  }
}
