.footer-container {
  background-color: #335C67;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* .footer-subs {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-bottom: 24px;
  color: white;
} */



.footer-links {
 display: flex;
 align-items: center;

}



.footer-email-form h2 {
  margin-bottom: 32px;
}

.footer-input::placeholder {
color: white;
}

.social-icon-link {
  color: white;
  font-size: 24px;
}


.social-icons {
  display: flex;
  justify-content: space-between;
  width: 240px;
  align-items: center;
}

.social-logo {
  align-items: center;
  vertical-align: middle;
  width: 33px;
  height: 38px;
  object-fit: none;
  margin-top: none;
  margin-bottom: none;
}
.social-logo-mail {
  align-items: center;
  vertical-align: middle;
  width: 33px;
  height: 38px;
  object-fit: none;
  margin-top: none;
  margin-bottom: none;
}

.social-logo > img, svg {
  align-items: center;
  vertical-align: middle;
  width: 33px;
  height: 38px;
  object-fit: none;
  margin-top: none;
  margin-bottom: none;
}


.btn-contact {
    background-color: transparent;
    border-color: none;
    color: white;
    width: 254px;
    font-weight: bold;
    font-size: 20px;
    margin: 56px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    box-sizing: none;
    border: transparent;
}

.footer-links > h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.social-media {
  margin-top: 15px;
  display: flex;
}
