.footer-container {
  background-color: #335C67;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

/* .footer-subs {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-bottom: 24px;
  color: white;
} */



 .footer-links {
 display: flex;
 align-items: center;
 padding: 29px;

}



.footer-email-form h2 {
  margin-bottom: 32px;
}

.footer-input::placeholder {
color: white;
}
/*
.social-icon-link {
  color: white;
  font-size: 24px;
}


.social-icons {
  display: flex;
  justify-content: space-between;
  width: 240px;
  align-items: center;
} */

.social-logo {
  align-items: center;
  vertical-align: middle;
  width: 33px;
  height: 38px;
  object-fit: none;

}

.social-logo-pint {
  width: 38px;
  height: 40px;
}



.img .social-logo img:hover {
  opacity: 3;

}

.social-logo > img, svg {
  align-items: center;
  vertical-align: middle;
  width: 33px;
  height: 38px;
  object-fit: none;

}


/* .btn-contact {
    background-color: transparent;
    border-color: none;
    color: white;
    width: 254px;
    font-weight: bold;
    font-size: 20px;
    margin: 56px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    box-sizing: none;
    border: transparent;
    height: 0px;
} */

.contact-content {
  display: flex;
  align-items: center;
}

.title-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 22px;
}

.title-logo {
  font-size: 28px;
  font-weight: bold;
  margin-top: 31px;
}

.title-logo p {
  font-size: 12px;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}
.social-logo-mail {
  align-items: center;
  width: 33px;
  height: 38px;
  object-fit: none;

}


@media (max-width: 600px){
    .footer-container {
      display: block;
      height: auto;
    }
    .contact-content {
    display: inline-flex;
    margin: 22px;
    }

    .footer-links {
      display: block;
    }
 }
