.navbar-logo  a {
  justify-content: space-between;
  align-items: center;
  color: black;
  display: flex;
  text-decoration: none;
}

.nav-links {
  text-decoration: none;
  color: black;
  justify-content: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 16px;
}

.navbar-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 1rem;
}

.nav-menu {
 display: flex;
 list-style-type: none;
 padding: 16px;
 justify-content: flex-end;

}

.nav-menu .title {
 justify-content: flex-start;
}


.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 96.75px);
  display: flex;
  align-items: center;
  height: 100vh;
}

.nav-text   {
  display: block;
  justify-content: flex-end;
  text-align: center;
}


