.text-blog {
  display: block;
  margin: 40px 200px 40px 200px;
  text-align: justify;
  padding-right: 99px;
  line-height: 1.75;
  margin-top: 166px;
}
.text-blog3 {
  display: block;
  margin: 40px 200px 40px 200px;
  text-align: justify;
  padding-right: 99px;
  line-height: 1.75;
  margin-top: 146px;
}

.article-name {
  font-family: 'Lora', serif;
  font-size: 60px;
  font-weight: bolder;
}

.article-name2 {
  font-family: 'Lora', serif;
  font-size: 60px;
  margin-top: 10px;
  background: linear-gradient(
180deg
 , transparent 55%, #335c679e 0);
  margin-left: 422px;
  font-weight: bolder;
  width: max-content;
}

.header-article {
  color: #FFF;
  width: fit-content !important;
  background-size: 10px 40px !important;
  position: relative;
}

.header-article3 {
  color: #FFF;
  margin-top: -17px !important;
  width: fit-content !important;
  background-size: 10px 40px !important;
  position: relative;
}

.banner-container-article img {
  width: 100%;
  display: flex;
  align-items: center;
  height: 350px;
}

.image-banner-article {
  height: 450px;
}

.navigation .row-navigation-light {
  outline-color: #eaeaea;
  background-color: #f7f7f7;
  display: flex;
}

.main-container .row-container {
    position: relative;
    clear: both;
    border: 0;
}

.row-navigation {
  outline-width: 0px;
  outline-style: solid;
  background-color: #f7f7f7;
  outline-color: #eaeaea;
}

.container .row-container {
  position: relative;
  clear: both;
  border: 0;
}
.px-16 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.page-prev {
  text-align: center;
}

.page-next {
  text-align: center;
}

.navigation {
  outline-width: 1px;
  padding: 5px;
}

.btn-link {
  text-decoration: none !important;
  color: #335C67 !important;
  font-weight: 600 !important;
}

.btn-link {
  display: inline-block;
  font-family: 'Poppins';
  font-size: 16px;
  padding: 13px 31px 13px 31px !important;
  font-style: normal !important;
  text-align: center;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  background-image: none;
  border-style: none;
  border-radius: 2px;
  outline: none;
  white-space: pre-wrap;
  -webkit-text-stroke: 0px;
  text-decoration: none !important;
  }

.container .row {
  width: 100%;
  table-layout: fixed;
  display: inline-block;
}

.style-light {
  color: #1b1d1f;
}

.pagination, .navigation {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  padding-left: 0;
  margin: 0;
  border-radius: 2px;
  height: 60px;
}

.prose {
    font-size: 16px;
}

.navigation > li {
  display: table-cell;
}

.share_media {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.share_button > button:hover {
 opacity: 0.5;
}

.share_media p {
  margin-right: 6px;
  margin-top: 6px;
  font-family: 'Poppins';
  font-size: 16px;
}
.share_button {
  margin-left: 5px;
}
circle {
  fill:#335C67
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px !important;
  }
}

.fa {
  padding: 5px;
}

.onepost-container {
  background-color: #efeae5;
  margin-top: 100Px;
}

.onepost-inside  {
  z-index: 1000;
  background-color: #FFF;
}

.back-post {
  background-color: #efeae5;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media (min-width: 1024px) {
.lg\:py-20 {
    padding-top: 0;
    padding-bottom: 0;
}
}

.block-post {
  text-align: justify;
}
