h1 {
    font-size: 2.5rem;
}

.cards-item-pics {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 8px;
  max-width: 100%;
}

.btn--inline{
  background-color: transparent;
  border-color: black!important;
  color: black;
  width: 372px;
  font-weight: bold;
  font-size: 18px;
  margin: 56px;
  font-family: 'Poppins', sans-serif;
  height: 45px;
  font-weight: 600 !important;
}

.btn--inline:hover {
  background: #335C67;
  color: white !important;
  font-size: bold !important;
}


.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-items: flex-start;
  background-color: #efeae5;
}

.banner-container2 {
  height: 60%;
}

.title-profile {
  margin: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 46px;
}

.profile-content {
  width: 600px;
  text-align: justify;
  margin-left: 140px;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}

.profile-content h2 {
  margin-bottom: 23px;
}
.profile-content p {
  font-weight: 400;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 60px;
  margin: revert;
}

.image-profile-home {
  width: 438px;
  height: 423px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin-top: 82px;
  margin-bottom: 70px;
  margin-left: 100px;
}

@media (min-width: 1024px) and (max-width: 1286px){
  .profile-grid {
    margin-top: -45px;
    display: inline-block;
    margin-bottom: -71px;
  }

  .image-profile-home {
    margin-left: 150px;
  }
}
@media (min-width: 600px) and (max-width: 1024px){

.profile-grid {
    display: inline-block;
    margin-bottom: -71px;
    width: 100%;
    padding: 40px;
  }

  .profile-content {
    margin-left: 57px;
}

.image-profile-home {
  margin-left: 136px;
}
}

@media (max-width: 600px){
  .profile-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: none;
  grid-gap: 5px;
  margin-top: 0px;

  }
  .profile-content {
   width: 320px;
   margin-left: 30px;
}
  .cards-btns {
    display: inline-block;
    margin-left: -70px;
}

  .cards-btns .btn--inline {
    width: 347px;
}
  .image-profile-home {
    margin-bottom: 136px;
    margin-top: 0px;
    margin-left: 0px;
  }
}
